body {
  margin: 0;
  font-family: Arial, sans-serif; /* Nova fonte */
  background-color: #f0f0f0; /* Cor de fundo */
}

code {
  font-family: Courier, monospace; /* Nova fonte para o código */
  background-color: #f4f4f4; /* Cor de fundo do código */
  padding: 5px; /* Espaçamento interno */
  border-radius: 3px; /* Borda arredondada */
  border: 1px solid #ccc; /* Borda */
}
